<h1>Visit List in NYC | 16/17</h1>
<p>Galleries / Museums / Restaurants / Cafe</p>

<form action="/upload_visit" method="post">
    
    
    Name:<input type="text" name="v_name"><br>
    Details:<input type="text" name="detail"><br>
    Date:<input type="text" name="v_date"><br>
    Evaluation:<input type="number" name="eval"><br>
    Memo: <input type="text" name="memo"><br>
    <input type="submit" name="send">
    
    <% @visits.each do |v| %>
    
<div style="border: 5px solid red; border-left: none; border-right: none; border-top: none">
    <ul>
    <li><%= v.name %></li>
    <li><%= v.detail %></li>
    <li><%= v.date %></li>
    <li><%= v.evaluation %></li>
    <li><%= v.memo %></li>
    </ul>
    </div>
    <%end%>

</form>

